.modal {
    min-width: 40rem;
    width: 75vw;
    border-radius: $border-large;
    background-color: $off-white;
    display: flex;
    direction: column;
    justify-content: center;
    padding: 1.5rem 3rem; 
    z-index: 10;
    word-wrap: break-word;
    opacity: 1;
    &_X {
        position: relative;
        right: 0;
        align-self: flex-end;
    }
    &_background { 
        left: 0;
        top: 0;
        position: absolute;  
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.336);
        z-index: 3;
    }
}