.tabs {
    padding: 1rem 0;
}

.tab {
    cursor: pointer;
    &_active {
        text-decoration: underline;
        font-weight: 600;
    }
    &:not(:last-of-type) {
       padding-right: 3rem;
    }
    &:last-of-type {
        padding-right: 0.5rem;
    }
}